<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-12 tm-block-col">
      <div class="page-title">
        <span>Chi tiết yêu cầu</span>
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row tm-content-row">

    <div class="tm-block-col tm-col-request-settings">
      <div class="tm-bg-primary-dark tm-block tm-block-settings">
        <h2 class="tm-block-title">YÊU CẦU TÌM GIA SƯ</h2>
        <div class="about-request">
          <div class="row">
            <div class="col-md-5">
              <label>Họ và tên học sinh</label>
            </div>
            <div class="col-md-7">
              <p>Dinh Tran Xuan Thi</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>Môn học </label>
            </div>
            <div class="col-md-7">
              <p>Toan</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>Lớp</label>
            </div>
            <div class="col-md-7">
              <p>7</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>Địa chỉ </label>
            </div>
            <div class="col-md-7">
              <p>Quan 7, Tp Ho Chi Minh</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>Lương </label>
            </div>
            <div class="col-md-7">
              <p>2.000.000 VND</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>Thời gian </label>
            </div>
            <div class="col-md-7">
              <p>7h-9h 2b/tuan sap xep</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <label>Yêu cầu khác</label>
            </div>
            <div class="col-md-7">
              <p>Gia su co kinh nghiem </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-primary me-md-2 option" type="button">Tạo lớp mới</button>
    <button class="btn btn-danger option" type="button">Hủy yêu cầu</button>
  </div>
</div>