	{{> header}}
<div class="container mt-5">
	<div class="row tm-content-row">
		<div class="col-12 tm-block-col">
			<div class="page-title">
				<span>Chi tiết yêu cầu</span>
			</div>
		</div>
	</div>
	<!-- row -->
	<div class="row tm-content-row">

		<div class="tm-block-col tm-col-request-settings">
			<div class="tm-bg-primary-dark tm-block tm-block-settings">
				<h2 class="tm-block-title">YÊU CẦU NHẬN LỚP</h2>
				<div class="about-request">
					<div class="row">
						<div class="col-md-5">
							<label>Mã lớp</label>
						</div>
						<div class="col-md-7">
							<p>001</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Ngay dang </label>
						</div>
						<div class="col-md-7">
							<p>12/10/2021</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Ho va ten gia su</label>
						</div>
						<div class="col-md-7">
							<p>Nguyen Van A</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>So dien thoai </label>
						</div>
						<div class="col-md-7">
							<p>0123456789</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Dia chi </label>
						</div>
						<div class="col-md-7">
							<p>Quan 7, Tp Ho Chi Minh</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Trinh do hien tai </label>
						</div>
						<div class="col-md-7">
							<p>Dai hoc</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Kinh nghiem day</label>
						</div>
						<div class="col-md-7">
							<p>2 nam kinh nghiem </p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<label>Yêu cầu khác</label>
						</div>
						<div class="col-md-7">
							<p>Khong</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="d-grid gap-2 d-md-flex justify-content-md-center">
		<button class="btn btn-primary me-md-2 option" type="button">Duyệt yêu cầu</button>
		<button class="btn btn-danger option" type="button">Hủy yêu cầu</button>
	</div>
</div>
{{> footer}}