<div class="login-form">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-5 col-10">
            <a href="/" class="turn-back-link"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Quay lại trang chủ</a>
        </div>
    </div>
    <div class="row justify-content-around login-box">
        <div class="col-lg-4 col-md-5 col-12">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Đăng nhập tài khoản</h4>
                    <hr />
                    <br />
                    <form action="/login" method="POST" id="form-login">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="email-login"> <i class="fa fa-envelope"></i> </label>
                                </div>
                                <input name="email" class="form-control" placeholder="Email" type="email" id="email-login">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="password-login"> <i class="fa fa-lock"></i> </label>
                                </div>
                                <input class="form-control" placeholder="Mật khẩu" type="password" name="password" id="password-login">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-login-submit">Đăng nhập</button>
                        </div> <!-- form-group// -->
                        <div class="error-block">
                            <p class="text-danger text-center" id="login-err-notification"></p>
                        </div>
                        <p class="text-primary text-center"><a href="/forgot-password" class="login-choice">Quên mật khẩu?</a></p>
                        <p class="text-center login-text">Chưa có tài khoản?<a href="/signup" class="login-choice"> Đăng ký</a></p>
                    </form>
                </article>
            </div> <!-- card.// -->
        </div>
        <div class="col-lg-4 col-md-5 col-10" > 
            <img src="/img/login.svg" alt="" class="svg-image">
        </div>
    </div>
</div>

