<div class="signup-form">
    <div class="card bg-light">
        <div class="card-body mx-auto">
            <div class="row justify-content-around">
                <div class="col-lg-7 col-12 row justify-content-center mb-2">
                    <div class="col-12 col-md-10">
                        <a href="/signup" class="turn-back-link"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Thay
                            đổi vai trò</a>
                    </div>
                </div>
            </div>

            <form action="/signup-tutor" method="POST" id="form-tutor-signup">
                <h4 class="card-title mt-3 text-center">Tạo tài khoản Gia sư</h4>
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-12 row justify-content-center mb-2">
                        <div class="col-12 col-md-10">
                            <p>Thông tin đăng nhập</p>
                        </div>
                        <div class="form-group input-group col-12 col-md-10">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-email"> <i class="fa fa-envelope"></i>
                                </label>
                            </div>
                            <input name="email" class="form-control" placeholder="Email" type="email" id="tutor-email">
                        </div> <!-- form-group// -->

                        <div class="form-group input-group col-12 col-md-10">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-password"> <i class="fa fa-lock"></i>
                                </label>
                            </div>
                            <input name="password" class="form-control" placeholder="Mật khẩu" type="password"
                                id="tutor-password">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group col-12 col-md-10">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-retype-password"> <i
                                        class="fa fa-lock"></i></label>
                            </div>
                            <input name="retypePassword" class="form-control" placeholder="Nhập lại mật khẩu"
                                type="password" id="tutor-retype-password">
                        </div> <!-- form-group// -->
                    </div>
                    <div class="col-lg-7 col-12 row justify-content-center mb-2">
                        <div class="col-12 col-md-10">
                            <p>Thông tin cá nhân</p>
                        </div>
                        <div class="form-group input-group col-12 col-md-10">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-fullname"> <i class="fa fa-user"></i>
                                </label>
                            </div>
                            <input name="fullname" class="form-control" placeholder="Họ và tên" type="text"
                                id="tutor-fullname">
                        </div> <!-- form-group// -->

                        <div class="form-group input-group col-12 col-md-10">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-display-name"> <i class="fa fa-user"></i>
                                </label>
                            </div>
                            <input name="displayName" class="form-control" placeholder="Tên hiển thị" type="text"
                                id="tutor-display-name">
                        </div> <!-- form-group// -->

                        <div class="form-group input-group col-12 col-md-10">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-phone"> <i class="fa fa-phone"></i> </label>
                            </div>
                            <input name="phone" class="form-control" placeholder="Số điện thoại" type="text"
                                id="tutor-phone">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group col-12 col-md-10">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-address"> <i
                                        class="fas fa-location-arrow"></i> </label>
                            </div>
                            <input name="address" class="form-control" placeholder="Địa chỉ" type="text"
                                id="tutor-address">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group col-12 col-md-5">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-birthday"> <i
                                        class="fas fa-birthday-cake"></i> </label>
                            </div>
                            <input name="birthday" class="form-control" placeholder="Ngày sinh" type="text"
                                onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}"
                                id="tutor-birthday">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group col-12 col-md-5">
                            <div class="input-group-prepend">
                                <label class="input-group-text"> <i class="fas fa-transgender-alt"></i> </label>
                            </div>
                            <select name="gender" class="form-control" id="tutor-gender">
                                <option value="" disabled selected hidden>Giới tính</option>
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group col-12 col-md-5">
                            <div class="input-group-prepend">
                                <label class="input-group-text"><i class="fas fa-user-md"></i></label>
                            </div>
                            <select name="job" class="form-control" id="tutor-job">
                                <option value="" disabled selected hidden>Nghề nghiệp hiện tại</option>
                                <option value="1">Giáo viên</option>
                                <option value="2">Sinh Viên</option>
                                <option value="3">Đã tốt nghiệp</option>
                            </select>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group col-12 col-md-5">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="tutor-birthday"> <i
                                        class="fas fa-birthday-cake"></i> </label>
                            </div>
                            <input name="salary" class="form-control" placeholder="Mức lương thấp nhất" type="number"
                                onblur="if(this.value==''){this.type='text'}" id="tutor-salary">
                        </div> <!-- form-group// -->
                    </div>

                    <div class="col-lg-7 col-12 row justify-content-center mb-2">
                        <div class="col-12 col-md-10">
                            <p>Thông tin giảng dạy</p>
                        </div>
                        <div class="col-12 col-md-10 col-mb-12 mb-2">
                            <label for="fclass" class="form-label">Lớp (<span style="color: red">*</span>)</label>
                            <div class="col-12">
                                <div class="form-group row ml-2">
                                    <div class="form-check col-6 mb-3">
                                        <input class="form-check-input" type="checkbox" name="class[]" value="Lớp 6"
                                            id="fclass-check-1">
                                        <label class="form-check-label" for="fclass-check-1">
                                            Lớp 6
                                        </label>
                                    </div>
                                    <div class="form-check col-6 mb-3">
                                        <input class="form-check-input" type="checkbox" name="class[]" value="Lớp 7"
                                            id="fclass-check-2">
                                        <label class="form-check-label" for="fclass-check-2">
                                            Lớp 7
                                        </label>
                                    </div>
                                    <div class="form-check col-6 mb-3">
                                        <input class="form-check-input" type="checkbox" name="class[]" value="Lớp 8"
                                            id="fclass-check-3">
                                        <label class="form-check-label" for="fclass-check-3">
                                            Lớp 8
                                        </label>
                                    </div>
                                    <div class="form-check col-6 mb-3">
                                        <input class="form-check-input" type="checkbox" name="class[]" value="Lớp 9"
                                            id="fclass-check-4">
                                        <label class="form-check-label" for="fclass-check-4">
                                            Lớp 9
                                        </label>
                                    </div>
                                    <div class="form-check col-6 mb-3">
                                        <input class="form-check-input" type="checkbox" name="class[]" value="Lớp 10"
                                            id="fclass-check-5">
                                        <label class="form-check-label" for="fclass-check-5">
                                            Lớp 10
                                        </label>
                                    </div>
                                    <div class="form-check col-6 mb-3">
                                        <input class="form-check-input" type="checkbox" name="class[]" value="Lớp 11"
                                            id="fclass-check-6">
                                        <label class="form-check-label" for="fclass-check-6">
                                            Lớp 11
                                        </label>
                                    </div>
                                    <div class="form-check col-6 mb-3">
                                        <input class="form-check-input" type="checkbox" name="class[]" value="Lớp 12"
                                            id="fclass-check-7">
                                        <label class="form-check-label" for="fclass-check-7">
                                            Lớp 12
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <input type="text" class="form-control" name="dclass" placeholder="Lớp học khác">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10 col-mb-12 mb-2">
                            <label for="fsubjects" class="form-label">Môn học (<span
                                    style="color: red">*</span>)</label>
                            <div class="col-12">
                                <div class="form-group row ml-2">
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Toán"
                                            id="fsubject-check-1">
                                        <label class="form-check-label" for="fsubject-check-1">
                                            Toán
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Lý"
                                            id="fsubject-check-2">
                                        <label class="form-check-label" for="fsubject-check-2">
                                            Lý
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Hóa"
                                            id="fsubject-check-3">
                                        <label class="form-check-label" for="fsubject-check-3">
                                            Hóa
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Anh"
                                            id="fsubject-check-4">
                                        <label class="form-check-label" for="fsubject-check-4">
                                            Anh
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Văn"
                                            id="fsubject-check-5">
                                        <label class="form-check-label" for="fsubject-check-5">
                                            văn
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Sử"
                                            id="fsubject-check-6">
                                        <label class="form-check-label" for="fsubject-check-6">
                                            Sử
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Địa"
                                            id="fsubject-check-7">
                                        <label class="form-check-label" for="fsubject-check-7">
                                            Địa
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Công dân"
                                            id="fsubject-check-8">
                                        <label class="form-check-label" for="fsubject-check-8">
                                            Công dân
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Tin học"
                                            id="fsubject-check-9">
                                        <label class="form-check-label" for="fsubject-check-9">
                                            Tin học
                                        </label>
                                    </div>
                                    <div class="form-check col-4 mb-3">
                                        <input class="form-check-input" type="checkbox" name="subject[]" value="Sinh học"
                                            id="fsubject-check-10">
                                        <label class="form-check-label" for="fsubject-check-10">
                                            Sinh học
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <input type="text" class="form-control" name="dsubject" placeholder="Môn học khác">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-10 col-mb-12 mb-2">
                            <label for="fsubjects" class="form-label">Thời gian dạy (<span
                                    style="color: red">*</span>)</label>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="row justify-content-between">
                                        <table class="table table-form-time">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Thứ</th>
                                                    <th scope="col" class="text-center">Sáng</th>
                                                    <th scope="col" class="text-center">Chiều</th>
                                                    <th scope="col" class="text-center">Tối</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="day">Thứ 2</td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Sáng thứ 2">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Chiều thứ 2">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Tối thứ 2">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Thứ 3</td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Sáng thứ 3">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Chiều thứ 3">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Tối thứ 3">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Thứ 4</td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Sáng thứ 4">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Chiều thứ 4">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Tối thứ 4">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Thứ 5</td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Sáng thứ 5">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Chiều thứ 5">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Tối thứ 5">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Thứ 6</td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Sáng thứ 6">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Chiều thứ 6">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Tối thứ 6">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Thứ 7</td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Sáng thứ 7">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Chiều thứ 7">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Tối thứ 7">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="day">Chủ nhật</td>

                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Sáng chủ nhật">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Chiều chủ nhật">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check text-center">
                                                            <input class="form-check-input" type="checkbox" name="time[]"
                                                                value="Tối chủ nhật">
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div class="form-group w-100">
                                            <input type="text" class="form-control" name="dtime"
                                                placeholder="Thông tin về thời gian dạy khác">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="error-block col-lg-7 col-12">
                        <p class="text-danger text-center" id="tutor-signup-err-notification"></p>
                    </div>
                    <div class="col-lg-7 col-12 row justify-content-center mb-2">
                        <div class="form-group col-12 col-md-10">
                            <button type="submit" class="btn btn-primary btn-block btn-signup-submit"
                                id="btn-tutor-signup-submit"> Tạo tài khoản </button>
                        </div> <!-- form-group// -->
                    </div>
                    <div class="col-12">
                        <p class="text-center signup-text">Đã có tài khoản? <a href="/login" class="signup-choice">Đăng
                                nhập</a> </p>
                    </div>
                </div>
            </form>
        </div>
    </div> <!-- card.// -->
</div>
<!--container end.//-->