<div class="signup-box">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-5 col-10">
            <a href="/login" class="turn-back-link"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Quay lại đăng nhập</a>
        </div>
    </div>
    <div class="signup-title-box row">
        <div class="col-12">
            <p class="text-center signup-title">ĐĂNG KÝ TÀI KHOẢN MỚI</p>
        </div>
    </div>
    <div class="row justify-content-center">
        
        <div class="col-lg-3 col-md-5 col-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img src="/img/tutor.svg" alt="" class="card-signup">
                    </div>
                    <div class="card-btn">
                        <a href="/signup/tutor" class="btn btn-option">Tài khoản gia sư</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-5 col-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img src="/img/student.svg" alt="" class="card-signup">
                    </div>
                    <div class="card-btn">
                        <a href="/signup/student" class="btn btn-option">Tài khoản học sinh </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>