<div class="container">

    <div class="col-lg-7 col-12 row justify-content-center" style="margin:20px;font-size:larger;">
        <div class="col-12 col-md-10">
                 <a href="/signup" class="turn-back-link"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Thay đổi vai trò</a>
             </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <div class="register-form">
                <form action="" method="post">
                    <h1>Đăng ký tài khoản gia sư</h1>
                    <h4>Thông tin đăng nhập</h4>
                    <div class="input-box">
                        <i class="fa fa-envelope"></i>
                        <input type="text" placeholder="Email" name="email" required>
                    </div>
                    <div class="input-box">
                        <i class="fa fa-lock"></i>
                        <input type="password" placeholder="Mật khẩu" name="password" required>
                    </div>
                    <div class="input-box">
                        <i class="fa fa-lock"></i>
                        <input type="password" name = "password" placeholder="Xác nhận mật khẩu" name="password" required>
                    </div>
                  
                  <h4>Thông tin tài khoản</h4>
                    <div class="input-box">
                        <i class="fa fa-user"></i>
                        <input type="text" placeholder="Họ và tên" name="fullname" required>
                    </div>
                    <div class="input-box">
                        <i class="fa fa-user"></i>
                        <input type="text" placeholder="Tên hiển thị" name="dis_playname" required>
                    </div>

                    <div class="input-box">
                        <i class="fa fa-phone"></i>
                        <input type="tel" placeholder="Số điện thoại" name="phone" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-location-arrow"></i>
                        <input type="text" placeholder="Địa chỉ" name="address" required>

                    </div>
                    <div class="input-box" style="display: flex;flex-wrap: wrap;border: none;margin: 0px;padding: 0px; margin-bottom: 10px;">
                        <div class="ngaysinh-gioitinh" style="display: flex;flex-wrap: wrap;width:48%;border: 1px solid black;">
                            <span style="margin-top: 10px;"><i class="fas fa-birthday-cake"></i></span>                   
                            <input style="width: 80%;" name="birthday" class="form-control" placeholder="Ngày sinh" type="text" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" id="student-birthday">
                        </div>
                        <div class="ngaysinh-gioitinh" style="width:40%;margin-left:4%;border: 1px solid black;">
                            <i class="fas fa-transgender-alt"></i>                      
                            <select id="gioitinh" required style="border: none;background-color: none;width: 80%;">
                                <option>Giới tính</option>
                                <option value="nam">Nam</option>
                                <option value="nu">Nữ</option>
                            </select>
                        </div>
                    </div>
                    
                    <!--copy ngaysinh gioitinh-->
                    <div class="input-box" style="display: flex;flex-wrap: wrap;border: none;margin: 0px;padding: 0px; margin-bottom: 10px;">
                        <div class="ngaysinh-gioitinh" style="display: flex;flex-wrap: wrap;width:48%;border: 1px solid black;">
                            <span style="margin-top: 10px;"><i class="fas fa-user-md"></i></span>
                            <select id="job" name="job" style="border: none;background-color: none;width: 80%;">
                                <option>Nghề nghiệp</option>
                                <option value="1">Giáo viên</option>
                                <option value="2">Sinh viên</option>
                                <option value="3">Đã tốt nghiệp</option>
                            </select>
                        </div>
                        <div class="ngaysinh-gioitinh" style="width:40%;margin-left:4%;border: 1px solid black;">
                            <i class="fas fa-hand-holding-usd"></i>
                            <input type="number" name="min_salary" placeholder="Lương thấp nhất" style="background-color: none;width: 80%;margin-top: 6px;padding: 10px;">
                        </div>
                    </div>

                    
                    <h4>Thông tin môn học</h4>
                    <div class="input-box" style="margin: 10px;margin-left: 0px;">
                        <br>
                        <label>Môn dạy:</label>
                        <br>
                        <br>
                        <div class="col-30 row-10" style="margin-bottom: 10px;">
                            <table class="tablebox" id="subject" style="margin-bottom: 5px;">
                                <tr>
                                <td><label><input type="checkbox" name="subject[]" value="M1M"  />Toán</label></td>
                                <td><label><input type="checkbox" name="subject[]" value="M2M" />Lý</label></td>
                                <td><label><input type="checkbox" name="subject[]" value="M3M" />Hóa</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="subject[]" value="M4M" />Văn</label></td>
                                <td><label><input type="checkbox" name="subject[]" value="M5M" />Tiếng Anh</label></td>
                                <td><label><input type="checkbox" name="subject[]" value="M6M" />Sinh</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="subject[]" value="M4M" />Sử</label></td>
                                <td><label><input type="checkbox" name="subject[]" value="M5M" />Địa</label></td>
                                </tr>
                                
                            </table> 
                        </div>
                    </div>

                    <div class="input-box" style="margin: 10px;margin-left: 0px;">
                        <br>
                        <label>Lớp dạy:</label>
                        <br>
                        <br>
                        <div class="col-30 row-10" style="margin-bottom: 10px;">
                            <table class="tablebox" id="grade">
                                <tr>
                                <td><label><input type="checkbox" name="grade[]" value="L6L" value="M1M"  />Lớp 6</label></td>
                                <td><label><input type="checkbox" name="grade[]" value="L7L" />Lớp 7</label></td>
                                <td><label><input type="checkbox" name="grade[]" value="L8L" />Lớp 8</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="grade[]" value="L9L" />Lớp 9</label></td>
                                <td><label><input type="checkbox" name="grade[]" value="L10L" />Lớp 10</label></td>
                                <td><label><input type="checkbox" name="grade[]" value="L11L" />Lớp 11</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="grade[]" value="L12L" />Lớp 12</label></td>
                                </tr>
                                
                            </table> 
                        </div>
                    </div>

                    <div class="input-box" style="margin: 10px;margin-left: 0px;">
                        <br>
                        <label>Thời gian dạy:</label>
                        <br>
                        <br>
                        <div class="col-30 row-10" style="margin-bottom: 10px;">
                            <table class="tablebox" id="time">
                                <tr>
                                <td><label><input type="checkbox" name="time[]" value="2S" />Thứ 2 - Sáng</label></td>
                                <td><label><input type="checkbox" name="time[]" value="2C" />Thứ 2 - Chiều</label></td>
                                <td><label><input type="checkbox" name="time[]" value="2T" />Thứ 2 - Tối</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="time[]" value="3S" />Thứ 3 - Sáng</label></td>
                                <td><label><input type="checkbox" name="time[]" value="3C" />Thứ 3 - Chiều</label></td>
                                <td><label><input type="checkbox" name="time[]" value="3T" />Thứ 3 - Tối</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="time[]" value="4S" />Thứ 4 - Sáng</label></td>
                                <td><label><input type="checkbox" name="time[]" value="4C" />Thứ 4 - Chiều</label></td>
                                <td><label><input type="checkbox" name="time[]" value="4T" />Thứ 4 - Tối</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="time[]" value="5S" />Thứ 5 - Sáng</label></td>
                                <td><label><input type="checkbox" name="time[]" value="5C" />Thứ 5 - Chiều</label></td>
                                <td><label><input type="checkbox" name="time[]" value="5T" />Thứ 5 - Tối</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="time[]" value="6S" />Thứ 6 - Sáng</label></td>
                                <td><label><input type="checkbox" name="time[]" value="6C" />Thứ 6 - Chiều</label></td>
                                <td><label><input type="checkbox" name="time[]" value="6T" />Thứ 6 - Tối</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="time[]" value="7S" />Thứ 7 - Sáng</label></td>
                                <td><label><input type="checkbox" name="time[]" value="7C" />Thứ 7 - Chiều</label></td>
                                <td><label><input type="checkbox" name="time[]" value="7T" />Thứ 7 - Tối</label></td>
                                </tr>
                                <tr>
                                <td><label><input type="checkbox" name="time[]" value="CNS" />CN - Sáng</label></td>
                                <td><label><input type="checkbox" name="time[]" value="CNC" />CN - Chiều</label></td>
                                <td><label><input type="checkbox" name="time[]" value="CNT" />CN - Tối</label></td>
                                </tr>
                         </table>
                        </div>
                    </div>

                    <div class="btn-box">
                        <button type="submit">Đăng ký</button>
                    </div>
                    <div style="text-align: center;">
                        <a style="padding:0px; margin:0px;text-align: center;">Đã có tài khoản: </a><a href="/login">Đăng nhập</a>
                    </div>
                </form>
            </div>
<style>
    *{
        padding: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0px;
        border: 2px;
    }
    .nghenghiep-trinhdo{
        text-align: center;
        width: 100%;
        outline: none;
        font-size: 16px;
        display: inline-block;
        height: 40px;
        color: #666666;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
        padding: 0px;
    }
    h1{
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    h4{
        color:black;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .register-form{
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        background-color: none;
        padding: 25px;
        border: none;
        border-radius: 10px;
    }

    .input-box{
        margin-bottom: 10px;
        border: 1px solid rgb(51, 45, 45);
    }
    .input-box-avatar{
        width: 96%;
        border: 1px solid black;
        outline: none;
        font-size: 16px;
        display: inline-block;
        height: 40px;
        color: #666666;
        padding-top: 10px;
        margin-bottom: 10px;
        background-color: white;
    }
    .input-box input[type='text'],
    .input-box input[type='password'],
    .input-box input[type='date'],
    .input-box input[type='tel']{
        padding: 7.5px 15px;
        width: 90%;
        outline: none;
        font-size: 16px;
        display: inline-block;
        height: 40px;
        color: #666666;
        border: none;
    }
    .input-box input[type="file"]{
        padding: 7.5px 15px;
        width: 90%;
        border: 1px solid #cccccc;
        outline: none;
        font-size: 16px;
        display: inline-block;
        height: 40px;
        color: #666666;
        padding-top: 10px;
        background-color: white;
    }
    .input-box select{
        padding: 7.5px 15px;
        width: 100%;
        border: 1px solid #cccccc;
        outline: none;
        font-size: 16px;
        display: inline-block;
        height: 40px;
        color: #666666;
    }
    .input-box option{
        font-size: 16px;
    }
    .input-box input[type='checkbox']{
        height: 1.5em;
        width: 1.5em;
        vertical-align: middle;
        line-height: 2em;
    }
    .btn-box{
        text-align: right;
        margin-top: 30px;
    }
    .btn-box button{
        padding: 12px 40px;
        width: 100%;
        background-color: DodgerBlue;
        color: #ffffff;
        border-radius: 5px;
        margin: 0px;
        margin-bottom: 30px;
    }
    </style>
</div>
