
<main>
    <div class="container">
        <div class="register-form">
            <form action="" method="post">
                <h1>Đăng ký tài khoản mới</h1>
                <div class="input-box">
                    <input type="email" placeholder="Email" email="email" required>
                </div>

                <div class="input-box">
                    <input type="password" placeholder="Mật khẩu" password="password" required>
                </div>
                        
                <div class="input-box">
                    <input type="password" name = "pass" placeholder="Xác nhận mật khẩu" password="password" required>
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Họ và tên" fullname="fullname" required>
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Tên hiển thị" displayname="displayname" required>
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Số điện thoại" phone="phone" required>
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Địa chỉ" address="address" required>
                </div>

                <div class="input-box row">
                    <div class="col-6">
                        <label for="ngaysinh">Ngày sinh</label>
                        <br>
                        <input type="date" id="ngaysinh" required/>
                    </div>
                    <div class="col-6">
                        <label for="gioitinh">Giới tính</label>
                        <br>
                        <select id="gioitinh" required>
                            <option value="nam">Nam</option>
                            <option value="nu">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="input-box">
                    <label for="type">Loại</label>
                    <select id="type" required>
                        <option value="hocsinh">Học sinh</option>
                        <option value="giasu">Gia sư</option>
                    </select>
                </div>
                <div class="btn-box">
                    <button type="submit">
                        Đăng ký
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>

<style>
*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
    margin-bottom: -15px;
}

h1 {
    color: #009999;
    font-size: 20px;
    margin-bottom: 30px;
}

.register-form{
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border: 2px solid #cccccc;
    border-radius: 10px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input,
.input-box select,
.input-box select option {
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    display: inline-block;
    height: 40px;
    color: #666666;
}

.btn-box {
    text-align: center;
    margin-top: 30px;
    padding: 5px;
    border-radius: 10px;
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 5px;
    background-color: #009999;
    color: #ffffff;
    border: none;
    outline: none;
}
</style>
