
{{> header}}
<link rel="stylesheet" href="/assets/css/templatemo-finance-business.css">

<div class="container home-page mt-2">
    <div class="row justify-content-center">
        <div class="col-12">
            <!-- Page Content -->
            <!-- Banner Starts Here -->
            <div class="main-banner header-text" id="top">
                <div class="Modern-Slider">
                    <div class="item item-1">
                        <div class="img-fill">
                            <div class="text-content">
                                <h6>Chào mừng bạn đến với</h6>
                                <h4>Web kết nối gia sư</h4>
                                <p>Trang web sẽ giúp bạn tìm được gia sư ưng ý và phù hợp với nhu cầu của bản thân.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h2>About <em>Web kết nối gia sư</em></h2>
                                <span>Trí thức - Đạo đức - Trách nhiệm</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="content mb-4">
                                <h4>Mang tri thức đến mọi người từ tâm người thầy-cô giáo</h4>
                                <p>Với hơn 10 năm kinh nghiệm trong nghề nhà giáo chúng tôi nhận thấy rằng một
                                    người thầy giỏi phải hội tụ đủ 3 yếu tố đó là: Tâm &#8211; Trí &#8211; Đức. Tâm ở
                                    đây được gọi là tâm
                                    huyết, Trí ở đây là trí thức và Đức là đạo đức luôn sống có tâm với nghề đó là lý do
                                    tại sao WEB KẾT NỐI
                                    GIA SƯ lại tồn tại đến ngày hôm nay!</p>
                            </div>
                            <div class="content">

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h2>Tại sao nên chọn <em>Web kết nối gia sư</em></h2>
                                <span>Chi phí tôt - chất lượng cao luôn là tiêu chí hàng đầu của chúng tôi</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <img src="https://htcon.vn/wp-content/uploads/2018/09/gia-s%C6%B0-ti%E1%BA%BFng-anh-l%E1%BB%9Bp-3-%E1%BB%9F-H%C3%A0-N%E1%BB%99i-1-e1537433627990.jpg"
                                    alt="">
                                <div class="down-content">
                                    <h4>Chi phí hợp lý</h4>
                                    <p>Là trung gian kết nối giữa gia sư và phụ huynh-học sinh, chúng tôi luôn mong muốn
                                        đem đến lợi ích tốt nhất cho đôi bên với chi phí phù hợp nhất.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <img src="https://giasusupham.com.vn/wp-content/uploads/2017/08/danh-sach-gia-su-tieng-anh.jpg" alt="">
                                <div class="down-content">
                                    <h4>Chất lượng</h4>
                                    <p>Gia sư của trung tâm là những giáo viên nhiệt huyết, đầy kinh nghiệm và luôn
                                        cập nhật những chương trình đạo tạo, cải cách mới nhất theo tiêu chuẩn của bộ
                                        giáo dục</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="service-item">
                                <img src="https://vietnamembassy-philippines.org/wp-content/uploads/2019/11/trung-tam-gia-su-uy-tin-tphcm-2.jpg" alt="">
                                <div class="down-content">
                                    <h4>Nhiệt huyết</h4>
                                    <p>Trung tâm luôn sẵn sàng hỗ trợ hết mình. Các gia sư là người nhiệt huyết với
                                        nghề, dạy từ tâm của mình</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="more-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h2>Dịch vụ tại <em>Web kết nối gia sư</em></h2>
                                <span>Cung cấp các dịch vụ từ cơ bản nhất đến người dùng</span>
                            </div>
                            <div class="more-info-content">
                                <div class="row">

                                    <div class="col-md-7 align-self-center">
                                        <div class="right-content">
                                            <h4><span style="color: #008000;"><strong><u>Nhận <a
                                                                style="color: #008000;">Dạy Kèm
                                                                Online, Tại Nhà</a> Các
                                                            Môn:</u></strong></span></h4>
                                            <h5><span style="color: #000000;">* Toán, Lý, Hóa, Tiếng Anh, Văn, Sinh,
                                                    Tiếng Việt, Rèn
                                                    Chữ…</span></h5>
                                            <h5><span style="color: #000000;">* Luyện Thi Đại Học, Chuyển Cấp: TOÁN, LÝ,
                                                    HÓA, SINH,
                                                    ANH… </span></h5>
                                            <h5><span style="color: #000000;">* Chương Trình Song Ngữ, Chương Trình Tích
                                                    Hợp&#8230;</span></h5>
                                            <h5><span style="color: #000000;">* Luyện Thi Tại Nhà Hiệu Quả: IELTS,
                                                    TOEIC, TOELF, TIN
                                                    HỌC</span></h5>
                                            <h5><span style="color: #000000;">* Anh Văn Giao Tiếp: XUẤT CẢNH, DU
                                                    HỌC</span></h5>
                                            <h5><span style="color: #000000;">* Các Môn Năng Khiếu: VẼ, ĐÀN, NHẠC</span>
                                            </h5>
                                            <h5><span style="color: #000000;">* Các Thứ Tiếng Thịnh Hành Hiện Nay Như:
                                                    ANH, HOA,
                                                    HÀN, NHẬT, PHÁP…</span>
                                            </h5>
                                            <h5><span style="color: #000000;">* Tiếng Việt Cho Người Nước Ngoài</span>
                                            </h5>
                                            <h5><span style="color: #000000;">* Các Môn Đại Cương Cho Sinh Viên: GIẢI
                                                    TÍCH, TIN HỌC
                                                    ĐẠI CƯƠNG, ĐẠI SỐ</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="left-image">
                                            <img src="https://cf.shopee.vn/file/e32e7b256f082021ed78568410b4790d"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fun-facts px-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-content">
                            <span>Những con số thống kê</span>
                            <h2>Ấn tượng tại <em>Web kết nối gia sư</em></h2>
                            <p>Trải qua thời gian dài hoạt động. chúng tôi đã kết nối được rất nhiều gia sư đến với học
                                sinh, các gia sư đã luôn cố gắng hết mình để mang đến cho học sinh kết quả tốt nhất.
                                <br>
                                Đó không chỉ là thành công của Trung tâm mà còn là thành công của các gia sư các học
                                sinh trên con đường phát triển của mình.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="count-area-content">
                                    <div class="count-digit">1026</div>
                                    <div class="count-title">Gia sư</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="count-area-content">
                                    <div class="count-digit">2456</div>
                                    <div class="count-title">Học sinh</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="count-area-content">
                                    <div class="count-digit">15400</div>
                                    <div class="count-title">Lượt truy cập</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="count-area-content">
                                    <div class="count-digit">2 năm</div>
                                    <div class="count-title">Hoạt động</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="more-info">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h2>Kết nối với <em>Web kết nối gia sư</em></h2>
                                <span>Và trải nghiệm những gì nó mang lại</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="locat_icon row justify-content-center">
                                <p><a href=""><i class="fab fa-facebook-square"></i> Facebook</a></p>
                                <p><a href=""><i class="fab fa-github-square"></i> Github</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{> footer}}