<div class="container">
    <div>
    <h1>Chào mừng bạn đến với WEB KẾT NỐI GIA SƯ</h1>
    <h4><span style="color: #000000;"><em>Với hơn 10 năm kinh nghiệm trong nghề nhà giáo chúng tôi nhận thấy rằng một người thầy giỏi phải hội tụ đủ 3 yếu tố đó là: Tâm &#8211; Trí &#8211; Đức. Tâm ở đây được gọi là tâm huyết, Trí ở đây là trí thức và Đức là đạo đức luôn sống có tâm với nghề đó là lý do tại sao WEB KẾT NỐI GIA SƯ lại tồn tại đến ngày hôm nay!</em></span></h4>
    <h2><span style="color: #008000;"><strong><em><u>Nhận <a style="color: #008000;" >Dạy Kèm Online, Tại Nhà</a> Các Môn:</u></em></strong></span></h2>
    <h4><span style="color: #000000;">* Toán, Lý, Hóa, Tiếng Anh, Văn, Sinh, Tiếng Việt, Rèn Chữ…</span></h4>
    <h4><span style="color: #000000;">* Luyện Thi Đại Học, Chuyển Cấp: TOÁN, LÝ, HÓA, SINH, ANH… </span></h4>
    <h4><span style="color: #000000;">* Chương Trình Song Ngữ, Chương Trình Tích Hợp&#8230;</span></h4>
    <h4><span style="color: #000000;">* Luyện Thi Tại Nhà Hiệu Quả: IELTS, TOEIC, TOELF, TIN HỌC</span></h4>
    <h4><span style="color: #000000;">* Anh Văn  Giao Tiếp: XUẤT CẢNH, DU HỌC</span></h4>
    <h4><span style="color: #000000;">* Các Môn Năng Khiếu: VẼ, ĐÀN, NHẠC</span></h4>
    <h4><span style="color: #000000;">* Các Thứ Tiếng Thịnh Hành Hiện Nay Như: ANH, HOA, HÀN, NHẬT, PHÁP…</span></h4>
    <h4><span style="color: #000000;">* Tiếng Việt Cho Người Nước Ngoài</span></h4>
    <h4><span style="color: #000000;">* Các Môn Đại Cương Cho Sinh Viên: GIẢI TÍCH, TIN HỌC ĐẠI CƯƠNG, ĐẠI SỐ</span></h4>
    <h2><span style="color: #008000;"><strong><u>PHƯƠNG CHÂM CỦA CHÚNG TÔI</u></strong></span></h2>
    <h4><em><span style="color: #000000;"><strong>TRÍ THỨC &#8211; ĐẠO ĐỨC &#8211; TRÁCH NHIỆM</strong></span></em></h4>
    <h3><span style="color: #ff0000;"><strong>⇒ TẠI SAO PHỤ HUYNH VÀ HỌC SINH NÊN LỰA CHỌN <a style="color: #ff0000;" >WEB KẾT NỐI GIA S</a></strong></span></h3>
    <h4><span style="color: #000000;">– Gia sư của trung tâm là những giáo viên nhiệt huyết, đầy kinh nghiệm và luôn cập nhật những chương trình đạo tạo, cải cách mới nhất theo tiêu chuẩn của bộ giáo dục</span></h4>
    <h4><span style="color: #000000;">– Trung tâm luôn lựa chọn kỹ lưỡng gia sư phù hợp với trình độ hiện tại và mong muốn tiến triển của phụ huynh, học sinh để giúp học sinh phát triển một cách tốt nhất</span></h4>
    <h4><span style="color: #000000;">– Trung tâm đã và đang hợp tác với rất nhiều gia sư có chuyên môn cao với nồng cốt là lực lượng gia sư đến từ trường <a style="color: #000000;"  target="_blank" rel="noopener noreferrer">Đại Học Sư Phạm</a>. Vì thế chúng tôi tự tin sẽ không làm cho phụ huynh và học sinh thất vọng:</span></h4>
    <h5><span style="color: #000000;"><em>+ Giáo viên dạy kèm nhiệt tình – kinh nghiệm đến từ:<a style="color: #000000;"  target="_blank" rel="noopener noreferrer"> Trường Phổ Thông Năng Khiếu</a>, <a style="color: #000000;"  target="_blank" rel="noopener noreferrer">Chuyên Lê Hồng Phong</a>, <a style="color: #000000;"  target="_blank" rel="noopener noreferrer">Chuyên Trần Đại Nghĩa</a>…</em></span></h5>
    <h5><span style="color: #000000;"><em>+ <a style="color: #000000;" >Gia sư sinh viên giỏi</a> được tuyển chọn kỹ từ các trường đại học nổi tiếng như: <a style="color: #000000;"  target="_blank" rel="noopener noreferrer">Đại Học Bách Khoa</a>, <a style="color: #000000;"  target="_blank" rel="noopener noreferrer">Đại học Y Dược</a>, <a style="color: #000000;"  target="_blank" rel="noopener noreferrer">Đại Học Ngoại Thương</a>…</em></span></h5>
    <h4><span style="color: #000000;">– Lực lượng gia sư của Trung tâm đông đảo có mặt hầu hết ở các quận trên địa bàn Tp.HCM, thị xã Dĩ An và thành phố Biên Hòa để đáp ứng kịp thời nhu cầu của phụ huynh và học sinh</span></h4>
    <h4><span style="color: #000000;">– <a style="color: #000000;" >Lịch sử hình thành</a> của Trung tâm cách đây hơn 10 năm</span></h4>
    <h4><span style="color: #ff0000;"><strong><u>ĐẶC BIỆT</u></strong>:</span> <span style="color: #000000;">Trung tâm sẽ cho gia sư đến dạy thử 2 buổi trước khi dạy chính thức để đảm bảo chất lượng cho Trung tâm. Trong thời gian dạy thử nếu phụ huynh thấy gia sư không đạt yêu cầu hay phù hợp với học viên thì xin phụ huynh hãy báo lại ngay cho Trung tâm, Trung tâm sẽ đổi cho bạn một gia sư khác phù hợp hơn! <span style="color: #008000;"><em>Quý phụ huynh sẽ an tâm hơn khi đến với <a style="color: #008000;" ="http://giasuuytinhcm.com/">WEB KẾT NỐI GIA SƯ!</a></em></span></span></h4>
    <h4><span style="color: #000000;"><strong><span style="color: #ff0000;"><u>CAM KẾT</u>:</span> </strong>Đáp ứng gia sư trong thời gian 24h kể từ lúc nhận được yêu cầu của phụ huynh và học sinh.</span></h4>
    <h3><span style="color: #008000;"><strong><em>WEB KẾT NỐI GIA SƯ – NÂNG TẦM TRI THỨC – DẠY KÈM TÀI NĂNG</em></strong></span></h3>
    <h3><span style="color: #ff0000;"><strong><em><u>Hotline</u></em></strong> : </span><a ><span style="color: #000000;"><strong><em>000 000 0000</em></strong></span></a></h3>
    <h4><strong><span style="color: #ff0000;">THỜI GIAN LÀM VIỆC:</span> <span style="color: #000000;">6h-22h</span></strong><span style="color: #000000;"> Tất cả các ngày trong tuần (kể cả lễ)</span></h4>
    <p>&nbsp;</p>
    <div id="attachment_374" style="width: 970px" class="wp-caption alignnone"><img aria-describedby="caption-attachment-374" class="size-full wp-image-374" src="http://giasutamtriduc.com/wp-content/uploads/2019/09/55906352_124560905370664_2656029912107843584_n.jpg" alt="" width="960" height="640" srcset="http://giasutamtriduc.com/wp-content/uploads/2019/09/55906352_124560905370664_2656029912107843584_n.jpg 960w, http://giasutamtriduc.com/wp-content/uploads/2019/09/55906352_124560905370664_2656029912107843584_n-300x200.jpg 300w, http://giasutamtriduc.com/wp-content/uploads/2019/09/55906352_124560905370664_2656029912107843584_n-768x512.jpg 768w" sizes="(max-width: 960px) 100vw, 960px" /><p id="caption-attachment-374" class="wp-caption-text"><span style="color: #000000;">WEB KẾT NỐI GIA SƯ</span></p></div>
    <hr />

    <h2><strong><span style="color: #008000;">CÁC LỚP MỚI CẦN TÌM GIA SƯ</span></strong></h2>
    <h3><span style="color: #000000;">Quý gia sư vui lòng nhấp <a ><span style="color: #ff0000;">vào đây</span></a> để xem các lớp cập nhật mới nhất!</span></h3>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1960</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : BÁO BÀI 7</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SINH VIÊN NAM</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  NGUYỄN LƯƠNG BẰNG, P.TÂN PHÚ, Q7</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX 19H-21H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.5TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1957</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH 10</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SINH VIÊN TRƯỜNG DƯỢC</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  HOÀNG NGÂN, P16, Q8</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI T3T5T7 LÚC 18H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.5TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1956</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  TRẦN VĂN GIÀU, P.TÂN TẠO, BÌNH TÂN</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : 2 BUỔI TỐI T2 VÀ T6</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1951</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> :TOÁN 10</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : ĐƯỜNG SỐ 8, P5, GÒ VẤP</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI T3,5 LÚC 19H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1942</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : LÝ HÓA 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  ẤP 4, XÃ VĨNH LỘC A, BÌNH CHÁNH</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX TRỪ T2,T4</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1941</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : AV11 + AV9 (2 HỌC VIÊN)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  ẤP 4, XÃ VĨNH LỘC A, BÌNH CHÁNH</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX TRỪ T2,T4</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.5TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1948</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : ANH VĂN 9</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIA SƯ TỐT NGHIỆP</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  NGUYỄN QUÝ YÊM, P.AN LẠC, BÌNH TÂN</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX TRỪ T3,T5</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.8TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1943</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  PHƯỜNG PHƯỚC LONG B, Q.9</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : THỨ 7 VÀ CHỦ NHẬT</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1919</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH 12 (2 HỌC VIÊN)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SINH VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  ĐƯỜNG 1C, P.AN LẠC, BÌNH TÂN</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : THỨ 3,5,7 LÚC 18H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.5TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #ff0000;"><strong>CHƯA GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1911</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  PHẠM HY LƯỢNG, P.THẠNH MỸ LỢI, Q2</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1940</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SINH VIÊN NAM</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  ĐƯỜNG SỐ 11, P.AN PHÚ, Q2</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.8TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1939</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : AVGT (2 BÉ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIA SƯ TỐT NGHIỆP</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  CHỢ TÂN UYÊN, BÌNH DƯƠNG</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX 5H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 4TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÂ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1938</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH 10</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SINH VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  ĐƯỜNG 15B, P.PHÚ MỸ, Q7</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 18H T2,T4,T6</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.8TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1937</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH 12 ( 2 học sinh)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SINH VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  ĐƯỜNG 1C, P.AN LẠC, Q. BÌNH TÂN</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 18H T3,T5,T7</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.5TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1936</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SINH VIÊN</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  HUỲNH TẤN PHÁT, XÃ PHÚ XUÂN, HUYỆN NHÀ BÈ</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.8TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1935</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SINH VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :   BÙI HỮU NGHĨA, PHƯỜNG 2, QUẬN BÌNH THẠNH</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.5TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1934</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN 10</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :   ĐƯỜNG SỐ 20, P. BÌNH HƯNG HÒA, QUẬN BÌNH TÂN</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX TỐI T3, T4; SÁNG TỐI T7</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.8TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1933</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  PHẠM HUY LƯỢNG, P.THẠCH MỸ LỢI, Q2</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX TỐI</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.8TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1932</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : T-L-H 12</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :  ĐƯỜNG SỐ 3, P.TRƯỜNG THỌ, QUẬN THỦ ĐỨC, Tp.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 4</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX CHIỀU HOẶC TỐI</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 4TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1931</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : BÁO BÀI LỚP 6</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : PHƯỜNG 2, QUẬN TÂN BÌNH, Tp.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 5</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : 18H T2-T6</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 4TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1930</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN – TV 6+3</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : TÔN ĐỨC THẮNG, P.BẾN NGHÉ, QUẬN 1, Tp.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : THỎA THUẬN</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1929</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : BÁO BÀI 3+5</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : PHAN VĂN TRI, PHƯỜNG 11, BÌNH THẠNH, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 4</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX TỐI TRÊN 5H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.8 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1928</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH LỚP 9 (HỌC VIÊN NAM HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV ( ƯU TIÊN SV SƯ PHẠM)</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : VƯỜN LÀI, P. AN PHÚ ĐÔNG, QUẬN 12, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 3,5,7 LÚC 6H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.7TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1927</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN LỚP 11</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : ĐƯỜNG CỘNG HÒA, PHƯỜNG 4, TÂN BÌNH, Tp.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 4</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX (16H30-18H)</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.4TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>Đã GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1926</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TIẾNG ANH LỚP 11(1 HỌC VIÊN HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GV NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : THÀNH THÁI, PHƯỜNG 14, QUẬN 10, Tp.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX LÚC 6H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>Đã GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1925</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH LỚP 8(1 HỌC VIÊN HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : BÌNH LỢI, PHƯỜNG 13, QUẬN BÌNH THẠNH, Tp.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,3,5 LÚC 6H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.4TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1924</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : BB LỚP 4 (1 HỌC VIÊN HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NỮ ( Ở BÌNH THẠNH)</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : BÌNH QUỚI, PHƯỜNG 28, QUẬN BÌNH THẠNH, Tp.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 5</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX LÚC 6H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.2TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1923</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN 12 (1 HỌC VIÊN NỮ HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : PHẠM VĂN CHIÊU, PHƯỜNG 9, GÒ VẤP, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,4,6 LÚC 6H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 3 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1922</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH LỚP 8( 1 HỌC VIÊN NỮ HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : NGUYỄN XÍ, PHƯỜNG 25, QUẬN BÌNH THẠNH, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 4</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 3.2 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1921</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : VĂN 9 ( 1 HỌC VIÊN NỮ HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : ÂU CƠ, PHƯỜNG 5, QUẬN 11, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,6 LÚC 6H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1,6 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1920</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN, LÝ LỚP 8 ( 1 HỌC VIÊN NAM HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : BÌNH LONG, PHƯỜNG PHÚ THẠNH, QUẬN TÂN PHÚ, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 4</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX TRƯỚC 7H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1919</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : ANH 6 ( HỌC VIÊN NỮ HỌC GIỎI)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : NGUYỄN OANH, PHƯỜNG 10, GÒ VẤP, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1,6 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1918</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : LÝ 10 ( 2 HỌC VIÊN NAM HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : BÌNH LỢI, PHƯỜNG 13 , QUẬN BÌNH THẠNH, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,6 LÚC 6H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1,4 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1917</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : ANH VĂN LỚP 7 ( HỌC VIÊN NAM HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : BÌNH QUỚI , PHƯỜNG 27, QUẬN BÌNH THẠNH, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,4,6 LÚC 6H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.4 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1916</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : VĂN LỚP 9( HỌC VIÊN NỮ HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : TỐNG HỮU ĐỊNH, PHƯỜNG THẢO ĐIỀN, QUẬN 1, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 3,5 LÚC 6H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1915</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN 12 ( HỌC VIÊN NỮ HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : LÊ QUANG ĐỊNH, PHƯỜNG 14, QUẬN BÌNH THẠNH, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,4,6 LÚC 6H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 3 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1914</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : RÈN CHỮ ( HỌC VIÊN NAM LỚP 2 CHỮ XẤU)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> :ĐỖ XUÂN HỢP, PHƯỜNG PHƯỚC LONG B, QUẬN 9, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 4</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,4,5,6 LÚC 5H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1913</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TIN VP ( HỌC VIÊN NỮ 30 TUỔI)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : LÊ VĂN VIỆT, PHƯỜNG HIỆP PHÚ, QUẬN 9, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 3,4,6 LÚC 7H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 3 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1912</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : AV LỚP 11 ( HỌC VIÊN NAM HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : VAN KIẾP, PHƯỜNG 3, BÌNH THẠNH, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,4 LÚC 6H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1911</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TLH LỚP 10 ( HỌC VIÊN NAM HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : TRẪN NÃO, PHƯỜNG BÌNH AN, QUẬN 2, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 4</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,4,5,6 LÚC 6H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2,4 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1910</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : SINH LỚP 12 ( HỌC VIÊN NỮ HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : NGUYỄN ĐÌNH CHIỂU, PHƯỜNG ĐA KAO, QUẬN 1, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 3 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1909</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : LÝ LỚP 9 ( HỌC VIÊN NỮ HỌC LỰC KHÁ)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : LÊ VĂN LƯƠNG, PHƯỜNG TÂN PHONG, QUẬN 7, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,4 LÚC 7H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1,8 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1908</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TIẾNG NHẬT TỪ ĐẦU</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : VÕ VĂN NGÂN, PHƯỜNG BÌNH THỌ, QUẬN THỦ ĐỨC, TPHCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 5</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,3,4,5,6</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 5 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1907</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : HÓA LỚP 10 ( 2 BẠN HS NỮ HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : NƠ TRANG LONG, PHƯỜNG 13, QUẬN BÌNH THẠNH, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 2.4 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1906</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TOÁN LỚP 12 ( HỌC VIÊN NAM HỌC LỰC TB)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : NGUYỄN ẢNH THỦ, PHƯỜNG TRUNG MỸ TÂY, HÓC MÔN, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : SX</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 3 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1905</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : PIANO ( HỌC VIÊN NAM 12 TUỔI CÓ CƠ BẢN RỒI)</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : SV NAM, NỮ</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : NGUYỄN SƠN, PHƯỜNG PHÚ THỌ HÒA, TÂN PHÚ, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 2</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,5 LÚC 6H</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 1.6 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="color: #000000;"><strong>ĐÃ GIAO</strong></span></p>
    <p><span style="color: #000000;"><strong>MSL</strong> : 1904</span></p>
    <p><span style="color: #000000;"><strong>Môn</strong> : TIẾNG ANH GIAO TIẾP(  HỌC VIÊN NAM 32 TUỔI )</span></p>
    <p><span style="color: #000000;"><strong>Cần Tìm</strong> : GIÁO VIÊN NAM</span></p>
    <p><span style="color: #000000;"><strong>Địa Chỉ</strong> : LÊ VĂN QUỚI, PHƯỜNG BÌNH TRỊ ĐÔNG, TP.HCM</span></p>
    <p><span style="color: #000000;"><strong>Số Buổi</strong> : 3</span></p>
    <p><span style="color: #000000;"><strong>Thời Gian Dạy</strong> : TỐI 2,4,6 LÚC 6H30</span></p>
    <p><span style="color: #000000;"><strong>Mức Lương</strong> : 3 TR</span></p>
    <p><span style="color: #000000;"><strong>Cách Thức Nhận Lớp</strong> : Gia sư nhắn tin qua 000 000 0000 nội dung Là : TÊN + SĐT LIÊN LẠC + TUỔI + MSL mình muốn nhận. Trung tâm sẽ xét duyệt và trả lời bạn trong giờ làm việc. Gia sư được nhận hãy mang bằng tốt nghiệp ( đối với Giáo Viên) ; thẻ SV ( đối với Sinh Viên) lên Trung Tâm để kiểm chứng và nhận lớp</span></p>
</div>
</div>
