    {{> header}}
<div class="row justify-content-center">
    <div class="form-request col-lg-8 col-md-10 col-sm-12">
        <div class="form-request_body col-lg-10">
            <h3 class="form-heading text-center p-4">FORM YÊU CẦU TÌM KIẾM GIA SƯ</h3>

            <form class="" action="" method="POST">
                <div class="form-group mb-4">
                    <label for="fphone" class="form-label">Số điện thoại (<span style="color: red">*</span>)</label>
                    <input type="tel" class="form-control" id="fphone" placeholder="Ví dụ: 0323231141" name="phone"
                        required>
                </div>
                <div class="row form-group mb-4">
                    <div class="col-6">
                        <label for="fclass" class="form-label">Tỉnh/thành phố (<span
                                style="color: red">*</span>)</label>
                        <select class="form-select w-100" id="fclass" name="class" required>
                            <option value="TPHCM" selected>Thành Phố Hồ Chí Minh</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="fsubjects" class="form-label">Quận/huyện (<span style="color: red">*</span>)</label>
                        <select class="form-select w-100" id="fsubjects" name="subjects" required>
                            <option value="">Chọn quận huyện</option>
                            <option value="1">Quận 1</option>
                            <option value="3">Quận 3</option>
                            <option value="4">Quận 4</option>
                            <option value="5">Quận 5</option>
                            <option value="6">Quận 6</option>
                            <option value="7">Quận 7</option>
                            <option value="8">Quận 8</option>
                            <option value="10">Quận 10</option>
                            <option value="11">Quận 11</option>
                            <option value="12">Quận 12</option>
                            <option value="ThuDuc">TP Thủ Đức</option>
                            <option value="Binhtan">Quận Bình Tân</option>
                            <option value="Binhthanh">Quận Bình Thạnh</option>
                            <option value="GoVap">Quận Gò Vấp</option>
                            <option value="PhuNhuan">Quận Phú Nhuận</option>
                            <option value="TanBinh">Quận Tân Bình</option>
                            <option value="TanPhu">Quận Tân Phú</option>
                            <option value="BinhChanh">Huyện Bình Chánh</option>
                            <option value="CanGio">Huyện Cần Giờ</option>
                            <option value="CuChi">Huyện Củ Chi</option>
                            <option value="HocMon">Huyện Hóc môn</option>
                            <option value="NhaBe">Huyện Nhà Bè</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group mb-4">
                    <div class="col-2">
                        <label for="fclass" class="form-label">Số nhà</label>
                        <input type="text" class="form-control" id="fphone" placeholder="Số 321" name="phone">
                    </div>
                    <div class="col-10">
                        <label for="fclass" class="form-label">Địa chỉ chi tiết (<span
                                style="color: red">*</span>)</label>
                        <input type="text" class="form-control" id="fphone"
                            placeholder="Đường/Phường/Quận(Huyện)/Thành Phố" name="phone" required>
                    </div>
                </div>
                <div class="row form-group mb-4">
                    <div class="col-lg-6 col-md-6 col-mb-12">
                        <label for="fclass" class="form-label">Lớp (<span style="color: red">*</span>)</label>
                        <div class="col-12">
                            <div class="form-group row">
                                <div class="form-check col-6 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fclass-check-1">
                                    <label class="form-check-label" for="fclass-check-1">
                                        Lớp 6
                                    </label>
                                </div>
                                <div class="form-check col-6 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fclass-check-2">
                                    <label class="form-check-label" for="fclass-check-2">
                                        Lớp 7
                                    </label>
                                </div>
                                <div class="form-check col-6 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fclass-check-3">
                                    <label class="form-check-label" for="fclass-check-3">
                                        Lớp 8
                                    </label>
                                </div>
                                <div class="form-check col-6 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fclass-check-4">
                                    <label class="form-check-label" for="fclass-check-4">
                                        Lớp 9
                                    </label>
                                </div>
                                <div class="form-check col-6 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fclass-check-5">
                                    <label class="form-check-label" for="fclass-check-5">
                                        Lớp 10
                                    </label>
                                </div>
                                <div class="form-check col-6 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fclass-check-6">
                                    <label class="form-check-label" for="fclass-check-6">
                                        Lớp 11
                                    </label>
                                </div>
                                <div class="form-check col-6 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fclass-check-7">
                                    <label class="form-check-label" for="fclass-check-7">
                                        Lớp 12
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <input type="text" class="form-control" name="dclass" placeholder="Lớp học khác">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-mb-12">
                        <label for="fsubjects" class="form-label">Môn học (<span style="color: red">*</span>)</label>
                        <div class="col-12">
                            <div class="form-group row">
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-1">
                                    <label class="form-check-label" for="fsubject-check-1">
                                        Toán
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-2">
                                    <label class="form-check-label" for="fsubject-check-2">
                                        Lý
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-3">
                                    <label class="form-check-label" for="fsubject-check-3">
                                        Hóa
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-4">
                                    <label class="form-check-label" for="fsubject-check-4">
                                        Anh
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-5">
                                    <label class="form-check-label" for="fsubject-check-5">
                                        văn
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-6">
                                    <label class="form-check-label" for="fsubject-check-6">
                                        Sử
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-7">
                                    <label class="form-check-label" for="fsubject-check-7">
                                        Địa
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-8">
                                    <label class="form-check-label" for="fsubject-check-8">
                                        Công dân
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-9">
                                    <label class="form-check-label" for="fsubject-check-9">
                                        Tin học
                                    </label>
                                </div>
                                <div class="form-check col-4 mb-3">
                                    <input class="form-check-input" type="checkbox" name="" value=""
                                        id="fsubject-check-10">
                                    <label class="form-check-label" for="fsubject-check-10">
                                        Sinh học
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <input type="text" class="form-control" name="dsubject" placeholder="Môn học khác">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="ffee" class="form-label">Học phí mong muốn (VNĐ/tháng)</label>
                    <input type="number" class="form-control" id="ffee" placeholder="Ví dụ: 3.000.000" name="fee">
                </div>
                <div class="form-group mb-4">
                    <label for="ftime" class="form-label">Thời gian học</label>
                    <input type="text" class="form-control" id="ftime" placeholder="Ví dụ: T2 - T4 - T6, 19h30 - 21h" name="time">
                </div>
                <div class="form-group mb-4">
                    <label for="fdifferent" class="form-label">Yêu cầu khác (nếu có)</label>
                    <input type="text" class="form-control" id="fdifferent" placeholder="Ví dụ: Có 1 năm kinh nghiệm"
                        name="different">
                </div>

                <div class="form-group mb-4 mt-4">
                    <button type="submit" class="btn btn-success mb-3 w-100 form-request-btn">SUBMIT</button>
                </div>
            </form>

        </div>
    </div>
</div>
	{{> footer}}
