<div class="row justify-content-center">
    <div class="form-request col-lg-8 col-sm-12">
        <div class="form-request_body col-lg-10">
            <h3 class="form-heading text-center">FORM YÊU CẦU TÌM KIẾM GIA SƯ</h3>

            <form class="" action="" method="POST">
                <div class="form-group mb-3">
                    <label for="fname" class="form-label">Họ tên (<span style="color: red">*</span>)</label>
                    <input type="text" class="form-control" id="fname" placeholder="Ví dụ: Nguyễn Văn A" name="name"
                        required>
                </div>
                <div class="form-group mb-3">
                    <label for="fphone" class="form-label">Số điện thoại (<span style="color: red">*</span>)</label>
                    <input type="tel" class="form-control" id="fphone" placeholder="Ví dụ: 0323231141" name="phone"
                        required>
                </div>
                <div class="form-group mb-3">
                    <label for="faddress" class="form-label">Địa chỉ (<span style="color: red">*</span>)</label>
                    <input type="text" class="form-control" id="faddress" placeholder="Ví dụ: Thủ Đức, TP.Hồ Chí Minh"
                        name="address" required>
                </div>
                <div class="row form-group mb-3">
                    <div class="col-6 ">
                        <label for="fclass" class="form-label">Lớp (<span style="color: red">*</span>)</label>
                        <select class="form-select w-100" id="fclass" name="class" required>
                            <option value="">Chọn lớp</option>
                            <option value="6">Lớp 6</option>
                            <option value="7">Lớp 7</option>
                            <option value="8">Lớp 8</option>
                            <option value="9">Lớp 9</option>
                            <option value="10">Lớp 10</option>
                            <option value="11">Lớp 11</option>
                            <option value="12">Lớp 12</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="fsubjects" class="form-label">Môn học (<span style="color: red">*</span>)</label>
                        <select class="form-select w-100" id="fsubjects" name="subjects" required>
                            <option value="">Chọn môn học</option>
                            <option value="1">Toán</option>
                            <option value="2">Lý</option>
                            <option value="3">Hóa</option>
                            <option value="4">Anh</option>
                            <option value="5">Văn</option>
                            <option value="6">Sinh</option>
                            <option value="7">Sử</option>
                            <option value="8">Địa</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="ffee" class="form-label">Học phí mong muốn (VNĐ/giờ)</label>
                    <input type="number" class="form-control" id="ffee" placeholder="Ví dụ: 160.000" name="fee">
                </div>
                <div class="form-group mb-3">
                    <label for="fdifferent" class="form-label">Yêu cầu khác (nếu có)</label>
                    <input type="text" class="form-control" id="fdifferent" placeholder="Ví dụ: Có 1 năm kinh nghiệm"
                        name="different">
                </div>

                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-success mb-3 w-100 form-request-btn">SUBMIT</button>
                </div>
            </form>

        </div>
    </div>
</div>