<div class="container">
    <h1>Danh sách bài viết tìm gia sư</h1>
    <div class=post>
        <h3><strong>Mã bài đăng: </strong><span style="color: #4200FF;">001123</span></h3>
        <h3><strong>Môn học: </strong><span>Toán</span></h3>
        <h3><strong>Lớp: </strong><span>9</span></h3>
        <h3><strong>Địa chỉ: </strong><span>Phường 4, Quận 5, Thành Phố Hồ Chí Minh</span></h3>
        <h3><strong>Lương/Tháng: </strong><span>2.000.000vnđ</span></h3>
        <h3><strong>Yêu cầu khác: </strong><span>Bé học tốt sẵn. Cần gia sư có kinh nghiệm tốt. Là nam sinh viên. Bé học tốt sẵn. Cần gia sư có kinh nghiệm tốt. Là nam sinh viên. Bé học tốt sẵn. Cần gia sư có kinh nghiệm tốt. Là nam sinh viên.</span></h3>
        <div class="btn-box">
            <br>
            <button type="submit">Yêu cầu nhận lớp</button>
        </div>
    </div>
    <div class=post>
        <h3><strong>Mã bài đăng: </strong><span style="color: #4200FF;">001123</span></h3>
        <h3><strong>Môn học: </strong><span>Toán</span></h3>
        <h3><strong>Lớp: </strong><span>12</span></h3>
        <h3><strong>Địa chỉ: </strong><span>Phường 4, Quận 5, Thành Phố Hồ Chí Minh</span></h3>
        <h3><strong>Lương/Tháng: </strong><span>2.500.000vnđ</span></h3>
        <h3><strong>Yêu cầu khác: </strong><span>Bé học tốt sẵn. Cần gia sư có kinh nghiệm tốt. Là nam sinh viên. Bé học tốt sẵn. Cần gia sư có kinh nghiệm tốt. Là nam sinh viên. Bé học tốt sẵn. Cần gia sư có kinh nghiệm tốt. Là nam sinh viên.</span></h3>
        <div class="btn-box">
            <br>
            <button type="submit">Yêu cầu nhận lớp</button>
        </div>
    </div>
</div>
<style>
    .container h1{
        text-align: center;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .post{
        width: 70%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
        border: 6px solid #758ECD;
        border-radius: 29px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .post h3{
        font-size: 16px;
        margin-left: 20px;
        word-wrap: break-word;
        color: black;
        margin-top: 10px;
        }
    .post span{
        color: black;
        }
    .button{
        width: 20px;
        height: 15px;
        color: rgb(14, 20, 20);
    }
    .btn-box{
            font-size: 20px;
            text-align: right;
            margin-bottom: 0px;
            margin-right: 10px;
        }
    .btn-box button{
        padding: 15px 35px;
        background-color: #1ECB44;
        margin-left: 10px;
        color: white;
        border-radius: 50px;
        font-family: roboto;
        font-style: medium;
        font-size: 17px;
    }    
</style>
