{{> header}}
<div class="container">
    <div class="row justify-content-center">
        <div class="form-request col-lg-8 col-md-10 col-sm-12">
            <div class="form-request_body col-lg-10">
                <h3 class="form-heading text-center">FORM YÊU CẦU NHẬN LỚP</h3>
                <form class="form-request" action="" method="POST">
                    <div class="form-group mb-3">
                        <label for="fidpost" class="form-label">Mã bài đăng</label>
                        <input type="text" class="form-control" id="fidpost" value="BD001" name="idpost">
                    </div>
                    <div class="form-group mb-3">
                        <label for="fphone" class="form-label">Số điện thoại (<span style="color: red">*</span>)</label>
                        <input type="tel" class="form-control" id="fphone" placeholder="Ví dụ: 0323231141" name="phone"
                            required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="fpay" class="form-label">Hình thức thanh toán (<span
                                style="color: red">*</span>)</label>
                        <select class="form-select w-100" id="fpay" name="class" required>
                            <option value="TPHCM">Chuyển khoản</option>
                            </option>
                            <option value="TPHCM">Thanh toán trưc tiếp tại trung tâm</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="fdifferent" class="form-label">Yêu cầu khác (nếu có)</label>
                        <input type="text" class="form-control" id="fdifferent" placeholder="" name="different">
                    </div>

                    <div class="form-group mb-2">
                        <button type="submit" class="btn btn-success mb-3 w-100 f-btn">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{> footer}}