	{{> header}}
<div class="container container-add-post ">
	<div class="row add-post-area ">
	    <div class="col-md-8 col-md-offset-2">
			<div class="title-add-post">
				<h2>Tạo bài đăng</h2>
                <div class="custom-underline"></div>
			</div>
            <div class="container add-post-container">
				<form action="" method="POST" class ="form-add-post" >
					<div class="form-group has-error row">
						<div class="col-3"><label for="slug">Lớp</label></div>
						
						<select class="form-select col-5 " aria-label="Default select example">
							<option selected>Chọn lớp </option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
						
					</div>

					<div class="form-group has-error row">
						<div class="col-3"><label for="slug">Môn học</label></div>
						
						<select class="form-select col-5 " aria-label="Default select example">
							<option selected>Chọn môn học</option>
							<option value="1">Toán</option>
							<option value="2">Lí</option>
							<option value="3">Hoá</option>
						</select>
						
					</div>
					
					<div class="form-group">
						<label for="title">Địa chỉ</label>
						<input type="text" class="form-control" name="title" />
					</div>
					
					<div class="form-group">
						<label for="description">Mô tả chi tiết</label>
						<textarea rows="5" class="form-control" name="description" ></textarea>
					</div>
					
					<div class="form-group row justify-content-around btn-form">
						<button type="submit" class="btn btn-primary col-3 btn-detail ">
							Đăng bài 
						</button>
						<button class="btn btn-danger col-3 btn-detail">
							Huỷ
						</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>
{{> footer}}