

<div class="container container-add-post ">

	
	<div class="row add-post-area ">

		
	    
	    <div class="col-md-8 col-md-offset-2">

			
			<div class="title-add-post">
				<h2>Tạo bài đăng</h2>
                <div class="custom-underline"></div>
			</div>
	        
            <div class="container add-post-container">

    		
    		<form action="" method="POST" class ="form-add-post" >
    		    
    		    

				<div class="form-group has-error row">
                    <div class="col-3"><label for="slug">Lớp</label></div>
    		        
                    <select class="form-select col-5 " aria-label="Default select example">
                        <option selected>Chọn lớp </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                      </select>
    		        
    		    </div>


                <div class="form-group has-error row">
                    <div class="col-3"><label for="slug">Môn học</label></div>
    		        
                    <select class="form-select col-5 " aria-label="Default select example">
                        <option selected>Chọn môn học</option>
                        <option value="1">Toán</option>
                        <option value="2">Lí</option>
                        <option value="3">Hoá</option>
                      </select>
    		        
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="title">Địa chỉ</label>
    		        <input type="text" class="form-control" name="title" />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="description">Mô tả chi tiết</label>
    		        <textarea rows="5" class="form-control" name="description" ></textarea>
    		    </div>
    		    
    		  
    		    
    		    <div class="form-group row justify-content-around btn-form">
    		        <button type="submit" class="btn btn-primary col-3 btn-detail ">
    		            Đăng bài 
    		        </button>
    		        <button class="btn btn-danger col-3 btn-detail">
    		            Huỷ
    		        </button>
    		    </div>
    		    
    		</form>
		</div>
		</div>
	</div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>