<div class="container post-container">
    <div class="row align-items-start">
        <div class="col id-col ">
            <div class="btn id-content">
                <h6>19120695</h6>
            </div>
        </div>
    </div>

    <div class="content-post row ">
        <form action="/action_page.php">

            <div class="row criteria-line ">

                <div class="col-4 criteria-title ">Lớp</div>
                <input class="col" type="text" id="grade" name="grade" value="9" required>
            </div>


            <div class="row criteria-line">
                <div class="col-4 criteria-title ">Môn học</div>
                <input class="col" type="text" id="subject" name="subject" value="Toán" required>


            </div>


            <div class="row criteria-line">
                <div class="col-4 criteria-title">Mức lương/h</div>
                <input class="col" type="text" id="salary" name="salary" value="100000" required>


            </div>

            <div class="row criteria-line">
                <div class="col-4 criteria-title">Địa chỉ</div>
                <input class="col" type="text" id="address" placeholder="" name="address" value="Thủ Đức, TPHCM"
                    required>

            </div>

            <div class="row criteria-line">
                <div class="col-4 criteria-title">Yêu cầu khác</div>
                <textarea class="col" id="more" name="more" rows="3" cols="200 "
                    wrap="soft ">có kiến thức vững và trách nhiệm với học viên. Yêu cầu tối thiểu 1 năm kinh nghiệm làm gia sư. 1m70 đẹp trai quê Vũng Tàu, tên Xuân Thi là lợi thế</textarea>
            </div>

            <div class="row criteria-line ">
                <div class="col-4 criteria-title ">Trạng thái</div>
                <div class="col-5 ">

                    <select class="form-select " aria-label="Default select example" name="status">
                        <option value=" " selected>Đang chờ duyệt</option>
                        <!-- <option selected>Đang chờ duyệt</option> -->
                        <option value="1">Hoàn thành</option>
                        <option value="2">Đang chờ duyệt</option>
                        <option value="3">Từ chối</option>
                    </select>
                </div>
            </div>
            <button type="submit " class="btn btn-block text-uppercase btn-edit-post col-4 ">Lưu thay đổi</button>
        </form>
    </div>

</div>